@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(18, 18, 20);
    font-family: 'Poppins', sans-serif;
}

a.btn-voltar {
    float: left;
    margin: 2rem 0;
    width: 120px;
    line-height: 50px;
    border-radius: 40px;
    border: none;
    background: none;
    transition: 1s;
}

a.btn-voltar img{
    width: 50px;
    color: #fff;
}

a.btn-voltar:hover{
    opacity: 0.7;
}

div.container {
    width: 100vw;
    height: 80vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    background-color: none;
}

div.row.switch{
    margin: 2rem 0;
}

.btn-toggle {
    border: 3px solid rgb(32, 32, 36);
    display: inline-block;
    padding: 10px;
    width: 200px;
    position: relative;
    text-align: center;
    -webkit-transition: background 600ms ease, color 600ms ease;
    transition: background 600ms ease, color 600ms ease;
  }
  
  input[type="radio"].toggle {
    display: none;
  }
  input[type="radio"].toggle + label {
    cursor: pointer;
    min-width: 60px;
  }
  input[type="radio"].toggle + label:hover {
    background: none;
    color:#999;
    opacity: 1;
  }
  input[type="radio"].toggle + label:after {
    background:rgb(32, 32, 36);
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    -webkit-transition: left 200ms cubic-bezier(0.77, 0, 0.175, 1);
    transition: left 200ms cubic-bezier(0.77, 0, 0.175, 1);
    width: 100%;
    z-index: -1;
  }
  input[type="radio"].toggle.toggle-left + label {
    border-right: 0;
  }
  input[type="radio"].toggle.toggle-left + label:after {
    left: 100%;
  }
  input[type="radio"].toggle.toggle-right + label {
    margin-left: -5px;
  }
  input[type="radio"].toggle.toggle-right + label:after {
    left: -100%;
  }
  input[type="radio"].toggle:checked + label {
    cursor: default;
    color: #fff;
    -webkit-transition: color 200ms;
    transition: color 200ms;
  }
  input[type="radio"].toggle:checked + label:after {
    left: 0;
  }

.content section.container{
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.img{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.img img{
    width: 100%;
}

.login-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    padding: 40px;
    width: 500px;
    border-radius: 10px;
    background-color: rgb(32, 32, 36);
    animation-name: fade;
    animation-duration: 0.5s;
}

form h2{
    font-size: 2.9rem;
    text-transform: uppercase;
    margin: 15px 0;
    color: #fdc134;
}

.input-div{
    position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #555;
    opacity: 0.6;
}

.input-div:after, .input-div:before{
    color: '';
    position: absolute;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #fdc134;
    transition: .3s;
}

.input-div:after{
    right: 50%;
}

.input-div:before{
    left: 50%;
}

.input-div.focus .i i{
    color: #fdc134;
    transition: .3s;
}

.input-div.focus div h5{
    top: -5px;
    font-size: 15px;
}

.input-div.focus:after, .input-div.focus:before{
    width: 50%;
}


.i{
    display: flex;
    justify-content: center;
    align-items: center;
}

.i i{
    color: #999;
}

.input-div > div{
    position: relative;
    height: 45px;
}

.input-div > div h5{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 18px;
    transition: .3s;
}

.input{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: none;
    outline: none;
    background: none;
    padding: 0.5rem 0.7rem;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    color: #E1E1E6;
}

span.validate{
    color: rgb(211, 66, 66);
    text-align: right;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
}

a.esqueceu-senha{
    display: block;
    text-align: right;
    text-decoration: none;
    color: #999;
    font-size: 0.9rem;
    transition: .3s;
}

p{
    display: block;
    text-align: center;
    text-decoration: none;
    color: #999;
    font-size: 0.9rem;
}

a.cadastrar{
    text-decoration: none;
    color: #999;
    transition: .3s;
}

a:hover{
    color: #fdc134;
}

a#cadastrar:hover{
    color: #fdc134;
}

.btn.btn-cadastrar{
    color:rgb(18, 18, 20);
    width: 250px;
    line-height: 30px;
    border-radius: 7px;
    border: 2px solid #fdc134;
    transition: all ease-in-out 0.3s;
    display: inline-block;
    background: #fdc134;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    transition: filter 0.2s;
}

.btn.btn-cadastrar:hover{
    filter: brightness(80%) 
}

@keyframes fade{
    from {
        opacity: 0;
        transform: scale(0.9);
    } 
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@media screen and (max-width: 1050px){
    .container{
        grid-gap: 5rem;
    }
}

@media screen and (max-width: 1000px){
    form{
        width: 290px;
    }

    form h2{
        font-size: 2.4rem;
        margin: 8px 0;
    }
}

@media screen and (max-width: 900px){
    .img{
        display: none;
    }

    .container{
        grid-template-columns: 1fr;
    }

    .login-container{
        justify-content: center;
    }
}
  
  
  
  
  